<a href="https://colab.research.google.com/github/adityakushwaha4911-bit/Portfolio/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from sklearn.impute import KNNImputer
data1 = np.array([[1, 2, 3],[4, np.nan, 6],[5, 4, 9], [np.nan, 8, 9]])
print(data1)
knn_imputer = KNNImputer(n_neighbors=2)
knn_data=knn_imputer.fit_transform(data1)
print(knn_data)

[[ 1.  2.  3.]
 [ 4. nan  6.]
 [ 5.  4.  9.]
 [nan  8.  9.]]
[[1.  2.  3. ]
 [4.  3.  6. ]
 [5.  4.  9. ]
 [4.5 8.  9. ]]

In [ ]:
import openpyxl

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/LAB2_Preprocessing_Dataset.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
data6 = pd.read_csv('/content/drive/MyDrive/LAB2_Preprocessing_Dataset.csv')

In [ ]:
print("original Dataset:")
print(data6)

In [ ]:
numerical_data = data6[['Age','Salary']]

In [ ]:
print("\nNumerical Data with Missing Values:")
print(numerical_data)

Numerical Data with Missing Values:
     Age   Salary
0   19.0  18000.0
1   20.0  20000.0
2    NaN  22000.0
3   21.0      NaN
4   22.0  25000.0
5   20.0  21000.0
6   23.0  27000.0
7   19.0  19000.0
8   24.0  30000.0
9    NaN  28000.0
10  21.0  23000.0
11  22.0      NaN
12  20.0  20500.0
13  23.0  26000.0
14  25.0  32000.0
15  19.0  18500.0
16  21.0  24000.0
17  22.0  25500.0
18  24.0      NaN
19  20.0  21000.0
20  23.0  27500.0
21  22.0  25000.0
22   NaN  19500.0
23  21.0  23500.0
24  24.0  30500.0
25  19.0      NaN
26  25.0  33000.0
27  20.0  21500.0
28  23.0  26500.0
29  22.0  24500.0

In [ ]:
imputer = SimpleImputer(strategy='mean')

In [ ]:
processed_numerical_data = imputer.fit_transform(numerical_data)

In [ ]:
processed_numerical_df = pd.DataFrame(processed_numerical_data, columns=numerical_data.columns)

In [ ]:
print("\nNumerical Data after Imputation:")
print(processed_numerical_df)

Numerical Data after Imputation:
         Age        Salary
0   19.00000  18000.000000
1   20.00000  20000.000000
2   21.62963  22000.000000
3   21.00000  24307.692308
4   22.00000  25000.000000
5   20.00000  21000.000000
6   23.00000  27000.000000
7   19.00000  19000.000000
8   24.00000  30000.000000
9   21.62963  28000.000000
10  21.00000  23000.000000
11  22.00000  24307.692308
12  20.00000  20500.000000
13  23.00000  26000.000000
14  25.00000  32000.000000
15  19.00000  18500.000000
16  21.00000  24000.000000
17  22.00000  25500.000000
18  24.00000  24307.692308
19  20.00000  21000.000000
20  23.00000  27500.000000
21  22.00000  25000.000000
22  21.62963  19500.000000
23  21.00000  23500.000000
24  24.00000  30500.000000
25  19.00000  24307.692308
26  25.00000  33000.000000
27  20.00000  21500.000000
28  23.00000  26500.000000
29  22.00000  24500.000000